extends layout/layout

block content
  main.container(role="main")
    input(data-provide='datepicker')
    .input-group.date(data-provide='datepicker')
      input.form-control(type='text')
      .input-group-addon
        span.glyphicon.glyphicon-th
